<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuoyuan.wxshop.mapper.UserInfoMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuoyuan.wxshop.model.UserInfo">
        <id column="id" property="id" />
        <result column="customer_no" property="customerNo" />
        <result column="account" property="account" />
        <result column="code" property="code" />
        <result column="open_id" property="openId" />
        <result column="nick_name" property="nickName" />
        <result column="gender" property="gender" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="union_id" property="unionId" />
        <result column="grade" property="grade" />
        <result column="sum_score" property="sumScore" />
        <result column="true_score" property="trueScore" />
        <result column="ct" property="ct" />
        <result column="ut" property="ut" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,customer_no, account, code, open_id, nick_name, gender, city, province, country, avatar_url, union_id,grade,  ct, ut
    </sql>

    <select id = "getCustomerRelationRecord" resultMap="BaseResultMap" parameterType="com.zhuoyuan.wxshop.request.CustomerRelationRecord" resultType="com.zhuoyuan.wxshop.model.UserInfo">
        SELECT * FROM `user_info` a WHERE customer_no IN
        (SELECT l_customer FROM `customer_relation` WHERE h_customer = #{hCustomer})
        <if test="grade != 0">
            AND grade = #{grade}
        </if>
    </select>

</mapper>
